.container: .row       {{>resolveComponent( "Header",  {state: "state"} ) }}
.fluid-container: .row {{>resolveComponent( "TopMenu", {state: "state"} ) }}
.fluid-container: .row {{>resolveComponent( "Content", {state: "state"} ) }}
.container: .row       {{>resolveComponent( "Footer",  {state: "state"} ) }}

