.page-header: h1 Installation

ul.nav.nav-tabs
  li(class="{{condition(installation_1.cli,     'active')}}" ): a(on-click="radioToggle('installation_1.cli',     true)") cli
  li(class="{{condition(installation_1.package, 'active')}}" ): a(on-click="radioToggle('installation_1.package', true)") package.json

div(class="{{condition(!installation_1.cli, condition(installation_1.__active, 'hide'))}}"): pre: code.language-bash.
  npm install infrastructure

div(class="{{condition(!installation_1.package, 'hide')}}"): pre: code.language-javascript.
  "dependencies": {
    "infrastructure": "^1.0.0"
  }
