.titlebar
  span.title=title
  .closeBtn.icon.close
  .minimizeBtn.icon.minimize
.menu
.aura
.resize.top(data-resize="0,-1")
.resize.bottom(data-resize="0,1")
.resize.left(data-resize="-1,0")
.resize.right(data-resize="1,0")
.resize.top-left(data-resize="-1,-1")
.resize.top-right(data-resize="1,-1")
.resize.bottom-left(data-resize="-1,1")
.resize.bottom-right(data-resize="1,1")
.content
  