.row
  form.col-xs-2: .form-group: input.form-control(type="text", placeholder="Search", value="{{search_input}}")
  .pull-right.col-xs-4: .row
    .pull-right.col-xs-2: a(class="btn btn-default {{condition(state.screen === 'build', 'active')}}", href="/infrastructure/build"  ) Build
    .pull-right.col-xs-2: a(class="btn btn-default {{condition(state.screen === 'docs', 'active')}}",  href="/infrastructure/docs/Installation"   ) Docs

